.legend {	
  	background-color: lightblue;
}

.title {
	margin: auto;
    width: 60%;
    padding: 10px;
    text-align: center;
}

.center {
	margin: auto;
	width: 80%;
	padding: 10px;
	text-align: center;
}

.mycolor {
	color: #6A1B4D;
}
.text {
	color: #6A1B4D;
	font-size: 130%;	
}
.footer {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
.footer2 {
	position: absolute;
	bottom: 0;
	width: 100vw;
	height: 18.5rem; 
	display:  block;
	overflow: hidden;
	padding: 70px 0;
	box-sizing: border-box;
	background-color: #18181a;
}
.inner_footer{
	display: block;
	margin: 0 auto;
	width: 1400px;
	height: 100%;
}
.inner_footer .logo_container{
	width: 23%;
	float: left;
	height: 100%;
	display: block;
}
.inner_footer .logo_container img{
	width: 220px;
	height: auto;
}
.inner_footer .footer_third{
	width: 17%;
	margin-right: 8px;
	float: left;
	height: 100%; 
}
.inner_footer .footer_third: last-child{
	margin-right: 0px;
}
.inner_footer .footer_third h1{
	font-family: 'arial';
	font-size: 22px;
	color: white;
	display: block;
	width: 100%;
	margin-bottom: 15px;
}
.inner_footer .footer_third a{
	font-family: 'arial';
	font-size: 18px;
	color: white;
	display: block;
	font-weight: 200;
	width: 100%;
	padding-bottom: 5px;
}

.inner_footer .footer_third li{
	display: initial-block;
	padding: 0 1px;
	font-size: 15px;
}

.inner_footer .footer_third span{
	color: white;
	font-family: 'arial';
	font-size: 16px;
	font-weight: 200;
	width: 100%
	padding-top 20px;
}

.input {
  width: 315px;
  display: block;
  margin: 1rem auto;
  border: 2px solid #fff;
  padding: 8px;
  background: transparent;
  border-radius: 20px;
  outline: none;
}
.widinput {
  width: 615px;
  display: block;
  margin: 1rem auto;
  border: 4px solid #fff;
  padding: 8px;
  background: transparent;
  border-radius: 20px;
  outline: none;
}

.button {
  background: lightblue;
  border: none;
  height: 2rem;
  border-radius: 20px;
  width: 330px;
  display: block;
  outline: none;
  cursor: pointer;
  margin: 1rem auto;
}
.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}
.darker {
  border-color: #ccc;
  background-color: #eeeee9;
}

@media(max-width: 800px){
	.footer .inner__footer{
		width: 90%;
	}
	.inner__footer .logo_container,
	.inner__footer .footer_trird{
		width: 100%;
		margin-bottom: 30px;
	}
}



.helper{
	/*#D5E1F0 -> front color brighter [light blue-grey]*/
	/*#CAD5E2 -> front secound color darker [darker blue-grey]*/
	/*#6A1B4D -> text color [dark red]*/
}

